accelerate
bitsandbytes
diffusers==0.33.0.dev0
transformers==4.47.1
huggingface_hub
hf_transfer==0.1.8
peft==0.14.0
decord==0.6.0
wandb
pandas
torch==2.4.1
torchvision==0.19.1
torchao>=0.7.0
sentencepiece==0.2.0
imageio-ffmpeg==0.5.1
numpy==2.2.1
matplotlib
deepspeed
opencv-python
scikit-learn
imageio